<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Prostages {% endblock %}</title>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" src="/build/app.css"> -->
            
            {# FontAwesome #}
            <link 
                rel="stylesheet"
                href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
                integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
                crossorigin="anonymous"
            >
        {% endblock %}
        {# Adjust page size for mobile/tablets #}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% include('navbar.html.twig') %}
        <div class="container-fluid h-100">
            <div class="row no-gutters py-2 px-0 w-100 h-100 justify-content-center">
                <div class="col p-3 col-xs-12 col-sm-8 col-md-6 bg-light text-dark">
                    {% block body %} {% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
    </body>
</html>
