{% set currentPath = app.request.pathinfo %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-primary" href="#">ProStages</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link {% if (currentPath == "/") %} {{'text-primary'}} {% endif %}" href="/">Accueil</a>
      <a class="nav-item nav-link {% if (currentPath == "/stages") %} {{'text-primary'}} {% endif %}" href="{{ path('stages') }}">Stages</a>
      <a class="nav-item nav-link {% if (currentPath == "/entreprises") %} {{'text-primary'}} {% endif %}" href="{{ path('entreprises') }}">Entreprises</a>
      <a class="nav-item nav-link {% if (currentPath == "/formations") %} {{'text-primary'}} {% endif %}" href="{{ path('formations') }}">Formations</a>
    </div>
  </div>
</nav>