{% extends 'base.html.twig' %} 
{% block title %} Prostages - Entreprises {% endblock %}
{% block body %}
  <h1>Liste des entreprises proposant un stage</h1>
  <ul>
  {% for entreprise in entreprises %}
    <li><a href="{{ path('entreprise', {'id': entreprise.id}) }}">{{ entreprise.getNom() }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
