{% extends 'base.html.twig' %} 
{% block title %} Prostages - Entreprise {{ entreprise.id }} {% endblock %}
{% block body %}
  <h1>Entreprise {{ entreprise.nom }}</h1>
  <h3>{{entreprise.activite}}</h3>
  <p><a href="{{entreprise.site}}" target="_blank" rel="noopener noreferrer">{{entreprise.site}}</a></p>
  <p>{{entreprise.adresse}}</p>
  <h3>Stages proposés : </h3>
  <ul>
    {% for stage in entreprise.stages %}
      <li><a href="{{ path('stage', {'id': stage.id}) }}">{{stage.nom}}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
