{% extends 'base.html.twig' %} 
{% block title %} Prostages - Formation {{ formation.id }} {% endblock %}
{% block body %}
  <h1>Formation {{ formation.nom }}</h1>
  <h3>Stages proposés : </h3>
  <ul>
    {% for stage in formation.stages %}
      <li><a href="{{ path('stage', {'id': stage.id})}}">{{stage.nom}}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
