{% extends 'base.html.twig' %} 
{% block title %} Prostages - Formations {% endblock %}
{% block body %}
  <h1>Liste des formations</h1>
  <ul>
    {% for formation in formations %}
      <li><a href="{{ path('formation', {'id': formation.id})}}">{{ formation.nom }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
