{% extends 'base.html.twig' %} 
{% block title %} Prostages - Stages {% endblock %}
{% block body %}
  <h1>Liste des stages</h1>
  <ul>
  {% for stage in stages %}
    <li><a href="{{ path('stage', {'id': stage.id}) }}">{{ stage.nom }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
