{% extends 'base.html.twig' %} 
{% block title %} Prostages - Stage {{ stage.id }} {% endblock %}
{% block body %}
  <h1>Stage : {{stage.nom}}</h1>
  <p>{{stage.description}}</p>
  <h5>Entreprise : <a href="{{ path('entreprise', {'id': stage.entreprise.id}) }}">{{ stage.entreprise.nom }}</a></h5>
  <h5>Formations concernées :</h5>
  <ul>
  {% for formation in stage.formations %}
    <li><a href="{{ path('formation', {'id': formation.id}) }}">{{formation.nom}}</a></li>
  {% endfor %}
  </ul>
  <hr>
  <h5>Contact</h5>
  <ul>
    <li>Contact : {{ stage.contact }}</li>
    <li>Email : {{ stage.email }}</li>
    <li>Tél : {{ stage.tel }}</li>
  </ul>
{% endblock %}
