$theme-colors: (
  "primary": #e56938,
  "dark": #50525e,
  "light": #eff6f8,
  "dark-accent": #d2406a,
  "light-accent": #cab0b1
);

$body-bg: map-get(
  $map: $theme-colors,
  $key: "dark"
);
$body-color: map-get(
  $map: $theme-colors,
  $key: "light"
);
$enable-rounded: false;

.navbar-toggler {
  color: map-get($theme-colors, "dark") !important;
  border-color: transparent !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.toggled {
  animation: button-focus 0.7s forwards;
}

@keyframes button-focus {
  0% {
    color: map-get($map: $theme-colors, $key: "dark");
  }
  100% {
    color: map-get($map: $theme-colors, $key: "dark-accent");
  }
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
